{{ wizard.management_form }}

{% if wizard.form.username and wizard.form.password %}
    {% if wizard.form.non_field_errors %}
        {% for error in wizard.form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="form-group">
        <input type="text" name="auth-username" class="form-control" id="username" placeholder="Username" required>
        <input type="password" name="auth-password" class="form-control" id="password" placeholder="Password" required>
    </div>
{% else %}
    {{ wizard.form }}
{% endif %}