{% extends '_base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            {% include 'partials/sidenav.html' %}
        </div>
        <div class="col-sm-10">
            {% block management_content %}{% endblock %}
        </div>
    </div>
{% endblock %}