{% extends '_management_base.html' %}

{% block management_content %}
    <h1>Site kopieren</h1>
    <form method="POST" action="." class="form">
        {% csrf_token %}
        <p>Je staat op het punt om de site <b>{{ site.host }}</b> naar een nieuwe bestemming te kopieren. Selecteer de bestemming, bedenk een nieuwe sleutel en vul de nieuwe hostnaam in voor de kopie.</p>

        <h4>Statistieken</h4>
        <p>
            Database:  <strong {% if db_size > 500 %}style="color:red"{% endif %}>{{ db_size|floatformat }} MB</strong> |
            Files: <strong><span id="disk_usage">...</span> MB</strong> |
            <strong><span id="disk_free">...</span> GB</strong> beschikbaar
        </p>

        <p style="color:  red; display: none">Let op, dit is een grote site. Deze kopieer actie kan het best op een rustige moment worden uitgevoerd (vroeg in de ochtend, avond of weekend). Dit beperkt overlast en vertraging op andere productie sites.</p>

        <div class="form-group">
            {{ form }}
        </div>
        <a href="{% url 'management:overview' backend.key %}" class="btn btn-secondary">Annuleren</a>
        <button type="submit" class="btn btn-primary">Kopieren</button>
    </form>

{% endblock %}

{% block scripts %}
<script type="application/javascript">
    var getJSON = function(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
            var status = xhr.status;
            if (status == 200) {
                callback(null, xhr.response);
            } else {
                callback(status);
            }
        };
        xhr.send();
    };


    setInterval(function() {
        getJSON('/tasks/status?task_id={{ disk_usage_task }}', function(status, result) {
            if (result) {
                if (result['finish']) {
                    document.getElementById('disk_usage').textContent = result['finish']['usage'];
                    document.getElementById('disk_free').textContent = result['finish']['free'];
                }
            }
        });
    }, 1000);
</script>
{% endblock %}