{% extends '_management_base.html' %}

{% block management_content %}
    <h1>Site verwijderen</h1>
    <form method="POST" action="." class="form">
        {% csrf_token %}
        <p>Vul de sleutel van de site <b>{{ site.key }}</b> in om de site te verwijderen.</p>
        <div class="form-group">
            {{ form }}
        </div>
        <a href="{% url 'management:overview' backend.key %}" class="btn btn-secondary">Annuleren</a>
        <button type="submit" class="btn btn-danger">Verwijderen</button>
    </form>
{% endblock %}