{% extends '_management_base.html' %}

{% block management_content %}
    <h1>Site wijzigen</h1>
    <form method="POST" action="." class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <a href="{% url 'management:overview' backend.key %}" class="btn btn-secondary">Annuleren</a>
        <button type="submit" class="btn btn-primary">Wijzigen</button>
    </form>
{% endblock %}