{% extends '_management_base.html' %}

{% block management_content %}
    {% if backend %}

        <h1>{{ backend.name }}</h1>
        <h4>Mail adressen deelsite beheerders</h4>
        <a href="{% url 'management:admin_email_addresses' backend.key %}">E-mail adressen</a>
        <br /><br /><br />

        <h4>Sites beheren</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Sleutel</th>
                    <th scope="col">Hostnaam</th>
                    <th scope="col">Status</th>
                    <th scope="col">Productie</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {% for site in backend.get_sites %}
                <tr>
                    <td scope="row">{{ site.id }}</td>
                    <td class="break-word">{{ site.key }}</td>
                    <td class="break-word">{{ site.host }}</td>
                    <td>
                        {% if site.enabled %}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if site.env == "prod" %}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-secondary" aria-hidden="true"></i>
                        {% endif %}

                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{% url 'management:copy' backend.key site.id %}" class="btn btn-secondary"><i class="fa fa-copy" aria-hidden="true"></i></a>
                            {% if backend.is_writable %}
                                <a href="{% url 'management:edit' backend.key site.id %}" class="btn btn-secondary"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a href="{% url 'management:delete' backend.key site.id %}" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Kies een omgeving aan de linkerzijde.
    {% endif %}
{% endblock %}
