{% extends 'administration/_administration_base.html' %}

{% block administration_content %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    <hr>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Site id</th>
                <th scope="col">Site host</th>
                <th scope="col">Site key</th>
                <th scope="col">Pleio guid</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
    {% for user in users %}
        <tr>
            <td>{{ user.site.id }}</td>
            <td>{{ user.site.host }}</td>
            <td>{{ user.site.key }}</td>
            <td>{{ user.pleio_guid }}</td>
            <td>{{ user.email }}</td>
            <td></td>
        </tr>
    {% endfor %}
        </table>

{% endblock %}