{% extends 'administration/_administration_base.html' %}

{% block administration_content %}
<button class="mybutton">Download csv</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Site</th>
            <th scope="col">Env</th>
            <th scope="col">Pleio Template</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for admin in admins %}
    <tr>
        <td>{{ admin.name }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.site }}</td>
        <td>{{ admin.env }}</td>
        <td>{{ admin.pleio_template }}</td>
        <td></td>
    </tr>
{% endfor %}
    </table>

    <script>
        function download_csv(csv, filename) {
            var csvFile;
            var downloadLink;
        
            // CSV FILE
            csvFile = new Blob([csv], {type: "text/csv"});
        
            // Download link
            downloadLink = document.createElement("a");
        
            // File name
            downloadLink.download = filename;
        
            // We have to create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);
        
            // Make sure that the link is not displayed
            downloadLink.style.display = "none";
        
            // Add the link to your DOM
            document.body.appendChild(downloadLink);
        
            // Lanzamos
            downloadLink.click();
        }
        
        function export_table_to_csv(html, filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");
            
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                
                for (var j = 0; j < cols.length; j++) 
                    row.push(cols[j].innerText);
                
                csv.push(row.join(","));		
            }
        
            // Download CSV
            download_csv(csv.join("\n"), filename);
        }
        
        document.querySelector(".mybutton").addEventListener("click", function () {
            var html = document.querySelector("table").outerHTML;
            export_table_to_csv(html, "table.csv");
        });
        
    </script>

{% endblock %}