{% extends 'administration/_administration_base.html' %}

{% block administration_content %}
    {% if backend %}
        <div>
        <h3>{{ backend.name }}</h3>
        {% url 'administration:users' backend.key as users_url %}
        {% url 'administration:sites' backend.key as sites_url %}
        {% url 'administration:admins' backend.key as admins_url %}
        <br>
        <a href="{{ users_url }}">Zoek deelsites van gebruiker</a>
        <br><br>
        <a href="{{ sites_url }}">Deelsites</a>
        <br><br>
        <a href="{{ admins_url }}">Deelsitebeheerders</a>
    </div>
    {% else %}
        Kies een omgeving aan de linkerzijde.
    {% endif %}
{% endblock %}