{% extends 'administration/_administration_base.html' %}

{% block administration_content %}
<button class="mybutton">Download csv</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Url</th>
            <th scope="col">Type deelsite</th>
            <th scope="col">Organisatie</th>
            <th scope="col">Type organisatie</th>
            <th scope="col">Total users</th>
            <th scope="col">Active users</th>
            <th scope="col">Pleio Template</th>
            <th scope="col">Env</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for site in sites %}
    <tr>
        <td>{{ site.url }}</td>
        <td>{{ site.site_type }}</td>
        <td>{{ site.organisation }}</td>
        <td>{{ site.organisation_type }}</td>
        <td>{{ site.total_users }}</td>
        <td>{{ site.active_users }}</td>
        <td>{{ site.pleio_template }}</td>
        <td>{{ site.env }}</td>
        <td></td>
    </tr>
{% endfor %}
    </table>

<script>
function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");
	
    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");
		
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
		csv.push(row.join(","));		
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector(".mybutton").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
	export_table_to_csv(html, "table.csv");
});

</script>

{% endblock %}