{% extends '_base.html' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            Welkom in het Pleio beheerpaneel. Via dit paneel kun je sites beheren en kopieren.
        </div>
    </div>
{% endblock %}