{% extends '_base.html' %}

{% block content %}
    <h1>Achtergrondtaken</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Gestart op</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td scope="row">{{ task.id }}</td>
                    <td>{{ task.result }}</td>
                    <td>{{ task.date_done }}</td>
                    <td>
                        {% if task.status == 'SUCCESS' %}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {% elif task.status == 'FAILURE' %}
                            <a href="#" data-toggle="modal" data-target="#{{ task.id }}" class="text-muted">
                                <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <i class="fa fa-pause-circle" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for task in tasks %}
        {% if task.status == 'FAILURE' %}
            {% include 'partials/modal.html' with id=task.id title='Foutmelding' content=task.traceback %}
        {% endif %}
    {% endfor %}


    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if tasks.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ tasks.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% if tasks.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ tasks.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ tasks.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}