{% load active %}
<ul class="nav flex-column">
    {% for key, backend in backends.items %}

        {% url 'administration:overview' key as backend_url %}
        <li class="nav-item">
            <a class="nav-link {% active backend_url %}" href="{{ backend_url }}">{{ backend.name }}</a>
        </li>
    {% endfor %}
</ul>