<svg viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="logo">
            <path d="M29.4,0 C32.5,0 35,2.5 35,5.6 L35,29.4 C35,32.5 32.5,35 29.4,35 L5.6,35 C2.5,35 0,32.5 0,29.4 L0,5.6 C0,2.5 2.5,0 5.6,0"
                id="Shape" fill="#535353"></path>
            <path d="M9,9 C10.2,7.8 12.1,7.8 13.2,9 L20,15.8 L21.3,14.5 L14.5,7.7 C12.6,5.8 9.6,5.8 7.7,7.7 C5.8,9.6 5.8,12.6 7.7,14.5 L9,15.9 L10.3,14.6 L9,13.2 C7.8,12 7.8,10.1 9,9"
                id="Shape" fill="#FFFFFF"></path>
            <path d="M26,26 C24.8,27.2 22.9,27.2 21.8,26 L15,19.2 L13.7,20.5 L20.5,27.3 C22.4,29.2 25.4,29.2 27.3,27.3 C29.2,25.4 29.2,22.4 27.3,20.5 L26,19.1 L24.7,20.4 L26.1,21.8 C27.2,23 27.2,24.9 26,26"
                id="Shape" fill="#FFFFFF"></path>
            <path d="M26,9 C27.2,10.2 27.2,12.1 26,13.2 L19.2,20 L20.5,21.3 L27.3,14.5 C29.2,12.6 29.2,9.6 27.3,7.7 C25.4,5.8 22.4,5.8 20.5,7.7 L19.1,9 L20.4,10.3 L21.8,9 C23,7.8 24.9,7.8 26,9"
                id="Shape" fill="#FFFFFF"></path>
            <path d="M9,26 C7.8,24.8 7.8,22.9 9,21.8 L15.8,15 L14.5,13.7 L7.7,20.5 C5.8,22.4 5.8,25.4 7.7,27.3 C9.6,29.2 12.6,29.2 14.5,27.3 L15.9,25.9 L14.6,24.6 L13.2,26 C12,27.2 10.1,27.2 9,26"
                id="Shape" fill="#FFFFFF"></path>
        </g>
    </g>
</svg>