{% load active %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">
        {% include 'partials/logo.html' %}
        <span>Pleio control</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% active 'home' %}">
                <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% active 'management' %}">
                <a class="nav-link" href="{% url 'management:overview' %}">Beheer</a>
            </li>
            <li class="nav-item {% active 'tasks' %}">
                <a class="nav-link" href="{% url 'tasks' %}">Achtergrondtaken</a>
            </li>
            <li class="nav-item {% active 'users' %}">
                <a class="nav-link" href="{% url 'administration:overview' %}">Administratie</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown dropdown-menu-right">
                <a class="nav-link dropdown-toggle" id="user-menu" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">{{ request.user.get_full_name }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
                    <a class="dropdown-item" href="/account/two_factor/">Account</a>
                    <a class="dropdown-item" href="/account/logout/">Uitloggen</a>
                </div>
            </li>
        </ul>
    </div>
</nav>