body {
    padding-top: 5rem;
}

body.login {
    background-color: #f3f3f3;
}

.login-logo {
    margin: 0 auto 3rem auto;
    width: 50px;
    height: 50px;
}

.login-container {
    border: 1px solid #d8e2f0;
    box-shadow: 0 0 10px 0 rgba(19, 29, 41, 0.05);
    background-color: #fff;
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 25rem;
}

.navbar-dark {
    background-color: #000;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand span {
    vertical-align: middle;
    padding: .5rem 1rem;
}
.navbar-brand svg {
    vertical-align: middle;
    height: 40px;
    width: auto;
}

.break-word {
    word-break: break-all;
}